@import "tailwindcss";

@layer base {
  :root {
    --system-gray: 142 142 147;
    --system-gray2: 174 174 178;
    --system-gray3: 199 199 204;
    --system-gray4: 209 209 214;
    --system-gray5: 229 229 234;
    --system-gray6: 242 242 247;
    --system-gray-inc: 72 72 74;
    --system-gray2-inc: 99 99 102;
    --system-gray3-inc: 132 132 136;
    --system-gray4-inc: 142 142 147;
    --system-gray5-inc: 158 158 163;
    --system-gray6-inc: 176 176 179;
    --system-red: 255 59 48;
    --system-orange: 255 149 0;
    --system-yellow: 255 204 0;
    --system-green: 52 199 89;
    --system-mint: 0 199 190;
    --system-teal: 90 200 250;
    --system-cyan: 0 183 235;
    --system-blue: 0 122 255;
    --system-indigo: 88 86 214;
    --system-purple: 175 82 222;
    --system-pink: 255 45 85;
    --system-brown: 162 132 94;
    --system-white: 255 255 255;
    --system-black: 0 0 0;
  }

  .dark {
    --system-gray: 142 142 147;
    --system-gray2: 99 99 102;
    --system-gray3: 72 72 74;
    --system-gray4: 58 58 60;
    --system-gray5: 44 44 46;
    --system-gray6: 28 28 30;
    --system-gray-inc: 142 142 147;
    --system-gray2-inc: 132 132 136;
    --system-gray3-inc: 118 118 128;
    --system-gray4-inc: 99 99 102;
    --system-gray5-inc: 72 72 74;
    --system-gray6-inc: 44 44 46;
    --system-red: 255 69 58;
    --system-orange: 255 134 18;
    --system-yellow: 255 214 10;
    --system-green: 48 209 88;
    --system-mint: 6 214 160;
    --system-teal: 14 194 238;
    --system-cyan: 64 196 255;
    --system-blue: 10 132 255;
    --system-indigo: 99 102 241;
    --system-purple: 191 90 242;
    --system-pink: 255 64 92;
    --system-brown: 172 142 88;
    --system-white: 255 255 255;
    --system-black: 0 0 0;
  }
}

@theme {
  --color-system-gray: rgb(var(--system-gray));
  --color-system-gray2: rgb(var(--system-gray2));
  --color-system-gray3: rgb(var(--system-gray3));
  --color-system-gray4: rgb(var(--system-gray4));
  --color-system-gray5: rgb(var(--system-gray5));
  --color-system-gray6: rgb(var(--system-gray6));
  --color-system-gray-inc: rgb(var(--system-gray-inc));
  --color-system-red: rgb(var(--system-red));
  --color-system-orange: rgb(var(--system-orange));
  --color-system-yellow: rgb(var(--system-yellow));
  --color-system-green: rgb(var(--system-green));
  --color-system-mint: rgb(var(--system-mint));
  --color-system-teal: rgb(var(--system-teal));
  --color-system-cyan: rgb(var(--system-cyan));
  --color-system-blue: rgb(var(--system-blue));
  --color-system-indigo: rgb(var(--system-indigo));
  --color-system-purple: rgb(var(--system-purple));
  --color-system-pink: rgb(var(--system-pink));
  --color-system-brown: rgb(var(--system-brown));

  --color-white: rgb(var(--system-white));
  --color-black: rgb(var(--system-black));
}


body {
  background: var(--color-system-gray6);
  color: var(--color-black);
}